<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<script>
    function displayStation(channelJson){
        console.log(channelJson);
        document.getElementById("currentRadio").innerHTML = channelJson.name;
        document.getElementById("currentArtist").innerHTML = 'Artist: vänta på elias o adrians cook';
        document.getElementById("currentSong").innerHTML = 'Song: vänta på elias o adrians cook';
        document.getElementById("player").querySelector('source').src = channelJson.liveaudio.url;
        document.getElementById("player").load();

    }
</script>
<body>
<div class="container">
    <h1 id="SRotify">SRotify</h1>

    <table>

        <tr>
            <td rowspan="2" id="list">

                <ul id="stations">
                    <!-- Insert dynamic list here -->
                    {{ radio_list|safe }}
                </ul>
            </td>

            <td id="radioDisplay">
                <h3 id="currentRadio">Radiostationsnamn</h3>
                <p id="currentArtist">Artist</p>
                <p id="currentSong">Låttitel</p>

                <audio id="player" controls autoplay>
                    <source src="https://sverigesradio.se/topsy/direkt/srapi/164.mp3" type="audio/mp3">
                </audio>

                <br>
                <button type="button" id="addToSpotify">SRotify it!</button>
            </td>

        </tr>
        <tr>
            <td id="info">
                Spotify

            </td>
        </tr>
    </table>
</div>
</body>
</html>