<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts.js" defer></script>
</head>
<body>
<div class="container">
    <h1 id="SRotify">SRotify</h1>

    <table>

        <tr>
            <td rowspan="2" id="list">

                <ul id="stations">
                    <!-- Insert dynamic list here -->
                    {{ radio_list|safe }}
                </ul>
            </td>

            <td id="radioPane">
                <h3 id="currentRadio">Välkommen!</h3>
                <p id="currentArtist">Ingen låt spelas just nu</p>
                <p id="currentSong">Välj en radiostation att lyssna på!</p>

                <audio id="player" controls autoplay>
                    <source src="" type="audio/mp3">
                </audio>
                <br>
                <br>
                <button type="button" id="addToSpotify" value="-1" onclick="console.log(value)">SRotify it!</button>
            </td>

        </tr>
        <tr>
            <td id="spotifyPane">
                Spotify

            </td>
        </tr>
    </table>
</div>
</body>
</html>