<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Diggaren</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
<div class="container" style="display: flex; flex-direction: column; align-items: center; text-align: center; height: 100vh; justify-content: center;">
    <h1>Diggaren - Grupp17</h1>
    <h1 style="font-size: 100px" id="SRotify">SRotify</h1>
    <br>
    <br>
    <a href="https://srotify.fly.dev/dashboard"> <!-- Använder ej längre inlogg med Spotify -->
        <button>Logga in med Spotify</button>
    </a>
</div>
</body>
</html>